@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

.App {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 500px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(5rem, 8vw, 10vw);
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(4rem, 6vw, 8vw);
    padding: 20px 0px;
}


#heroImg {
    width: 95%;
}

#heroText {
    text-align: left;
    position: relative;
    z-index: 3;
    margin-top: 10%;
    padding-left: 10%;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.781);
}

#heroText > h1 {
    margin-bottom: -3%;
}

#navBar {
    height: 100px;    
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    height: max-content;
    padding-bottom: 100px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

a.nav-link {
    width: max-content;
    padding: 0px 10px;
    font-size: clamp(3rem, 5vw, 7vw);
    transition: color 0.2s ease-in-out;
    font-weight: 500;
}

a.nav-link:hover {
    color: black;
    background-color: white;
}

div.card {
    box-shadow: 10px 10px 40px rgba(19, 19, 19, 0.897);
}


div.card img {
    height: clamp(250px, 400px, 450px);
    width: clamp(300px, 400px, 500px);

}

div.card-img-overlay {
    background: rgba(178, 178, 178, 0.091);
    backdrop-filter: blur(5px);
    padding: 1rem;
}
