@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(4rem, 10vw, 12vw);
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(3rem, 5vw, 7vw);
}

#heroImg {
    width: 80%;
}

#heroText {
    margin-top: -50px;
    padding-left: 30vw;
    text-align: left;
}

#navBar {
    height: 100px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    height: 500px;
    padding: 50px 0px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}